# Para arquivos 

README.md @d4nkali @lulmaia
CHANGELOG.md @d4nkali @lulmaia
AUTHORS @d4nkali @lulmaia

# Revisão no diretório .github

md/@d4nkali
docs/ @d4nkali @lulmaia @MiguelRodriguesCRN
.github/ @d4nkali @lulmaia
