.container {
    font-family: Arial, sans-serif;
    display: flex;
    /*flex-direction: column; */
    min-height: 100vh;
    background-color: #ffe9d6;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
  }
  
  .logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
  }
  
  .logoText {
    color: #333333;
  }
  
  .logoHighlight {
    color: #f29f05;
  }
  
  .nav {
    display: flex;
    gap: 20px;
  }
  
  .navLink {
    text-decoration: none;
    color: #333333;
    font-size: 16px;
  }
  
  .profile {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .logout {
    color: #f04c4c;
    font-size: 14px;
    text-decoration: none;
  }
  
  .profileButton {
    background-color: #b2e59f;
    color: #ffffff;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
  }

  .main {
    width: 95vw;
  }
  .main-dividir{
    width: 95vw;
    display: flex;
    margin-bottom: -3%;
    margin-top: -3%;
  }
  
  .content {
    flex: 1;
    max-width: 50%;
    min-width: 0;
    margin-top: 5%;
  }
  
  .welcomeText {
    color: #84b882;
    font-size: 18px;
    font-weight: bold;
    margin-left: 7%;
  }
  
  .title {
    font-size: 48px;
    color: #333333;
    margin: 20px 0;
    justify-content: flex-start;
    width: 70%;

    
  }
  
  .description {
    font-size: 18px;
    color: #666666;
    margin-bottom: 30px;
    margin-left: 7%;
  }
  
  .buttons {
    gap: 5%;
    margin-left: 7%;
  }
  
  .primaryButton {
    background-color: #b2e59f;
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    
  }
  
  .secondaryButton {
    background-color: transparent;
    color: #84b882;
    border: 2px solid #84b882;
    padding: 10px 22px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;    
  }
  .primaryButton, .secondaryButton{
    margin: 1%;
  }
  
  .imageContainer {
    max-width: 100%;
    min-width: 0;
  }
  
  .image {
    max-width: 90%;
    margin-left: 10%;
    border-radius: 16px;
  }
  
  @media screen and (max-width: 1050px){
    .main-dividir{
      display: grid;
      height: 100vh;
    }
    .content{
      flex: 1;
      max-width: 80%;
      margin-left: 10%;
      min-width: 0;
    }
    .imageContainer{
      max-width: 80%;
      margin-left: 10%;
    }
    .image{
      max-width: 80%;
      margin-left: 10%;
    }
  }
  @media screen and (max-width: 850px){
   
  }